@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Recursive:wght@500&family=Smooch&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow: hidden;
    min-height: 100vh;
}

#screen {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

#ocean {
    position: absolute;
    width: 100vw;
    top: 70vh;
    height: 30vh;
    background-color: rgb(0, 125, 255);
    z-index: 2;
}

#bub {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0px 0px 2px 1px rgb(0, 196, 255);
    z-index: 1;
    overflow: hidden;
    animation: bubble 8s linear infinite;
}

#dropping {
    position: absolute;
    background-color: rgb(0, 125, 255);
    /*Top-left, Top-right, Bottom-right and Bottom-left*/
    border-radius: 80% 80% 50% 50%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
    animation: drop 6s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0px) scale(0);
    }
    100% {
        transform: translateY(500px) scale(0.5);
    }
}

@keyframes bubble {
    0% {
        transform: translateY(0px) scale(0);
        box-shadow: 0px 0px 2px 2px rgb(0, 196, 255);
        background-image: radial-gradient(to center, rgba(0, 196, 255, 0.4) 70%, transparent 30%);
    }
    100% {
        transform: translateY(-400px) scale(1);
        box-shadow: 0px 0px 5px 5px rgb(0, 196, 255);
        background-image: radial-gradient(to center, rgba(0, 196, 255, 0.2) 10%, transparent 90%);
    }
}

#ele-one {
    grid-area: one;
}

#ele-two {
    grid-area: two;
}

#ele-three {
    grid-area: three;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
}

#ele-four {
    grid-area: four;
}

#ele-five {
    grid-area: five;
    display: flex;
}

#ele-six {
    grid-area: six;
    display: flex;
}

#ele-seven {
    grid-area: seven;
}

#ele-eight {
    grid-area: eight;
}

#grid {
    position: absolute;
    display: grid;
    gap: 8px;
    width: 85%;
    height: 85%;
    top: 10%;
    transition-duration: 1s;
    left: 12%;
    z-index: 3;
    grid-template-areas: 'one two three' 'four four three' 'five seven seven' 'six seven seven' 'eight eight eight';
}

#grid:hover {
    box-shadow: 0px 0px 6px 8px rgb(0, 196, 255), 4px 4px 6px 8px rgb(0, 0, 0), -4px -4px 6px 8px rgb(0, 125, 255);
    transition-duration: 1s;
}

.elements {
    font-family: Recursive, sans-serif;
    font-weight: 1rem;
    padding: 6px;
    width: 85%;
    height: 60%;
    letter-spacing: 1px;
}

.elements:hover {
    box-shadow: 0px 0px 2px 3px rgb(0, 200, 225);
    transition-duration: 1s;
}

.tile-headings:hover {
    transition-duration: 0.5s;
    color: rgb(0, 125, 255);
    box-shadow: 2px 2px 3px 3px rgb(0, 125, 255);
}

.split:hover {
    box-shadow: 0px 0px 3px 2px rgb(0, 125, 255);
    padding: 4px;
}

.meter {
    position: relative;
    width: 95%;
    height: 20px;
    padding-left: 5px;
    margin-top: 8px;
    border-radius: 1rem;
    outline: 2px solid blue;
}

.btn {
    width: 75px;
    height: 35px;
    margin-top: 1rem;
    border-radius: 3px;
    transition-duration: 1s;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 198, 255), rgb(0, 200, 225), rgb(0, 125, 255), rgb(0, 100, 255), rgb(100, 100, 255), rgb(0, 0, 255));
}

.btn:hover {
    width: 90px;
    transition-duration: 1s;
    border-radius: 1rem;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

#meter1 {
    background-color: rgb(0, 255, 0);
}

#meter2 {
    background-color: rgb(255, 0, 0);
}

#meter3 {
    background-color: rgb(0, 255, 0);
}

#blue-light {
    position: relative;
    top: -10px;
}

#red-light {
    position: relative;
    top: -10px;
}

#snow-flakes {
    position: absolute;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(186, 246, 253);
    z-index: 8;
    border-radius: 50%;
    animation: snow-fill 8s linear infinite;
}

@keyframes snow-fill {
    0% {
        transform: translateX(0px) skew(0deg) rotate(0deg);
    }
    100% {
        transform: translateY(600px) skew(90deg) rotate(180deg);
        width: 45px;
        box-shadow: 0px 0px 15px 15px rgb(0, 125, 255);
    }
}

#snow-flakes1 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(186, 246, 253);
    z-index: 8;
    border-radius: 50%;
    animation: snow-fill1 8s linear infinite;
}

@keyframes snow-fill1 {
    0% {
        transform: translateX(0px) skew(0deg);
    }
    100% {
        transform: translateY(600px) skew(-90deg);
        width: 45px;
        box-shadow: 0px 0px 15px 15px rgb(0, 125, 255);
    }
}